In [13]:
import pandas as pd

# Prep dataframe for all applicable date ranges for which there will be total_event count
queried_start_date = pd.to_datetime('2020-01-01') #, format='%Y%m%d')
queried_end_date = pd.to_datetime('2023-06-01') #, format='%Y%m%d')
queried_date_range = pd.date_range(start=queried_start_date, end=queried_end_date)
queried_date_range_df = pd.DataFrame({'date': queried_date_range})
queried_date_range_df

           date
0    2020-01-01
1    2020-01-02
2    2020-01-03
3    2020-01-04
4    2020-01-05
...         ...
1243 2023-05-28
1244 2023-05-29
1245 2023-05-30
1246 2023-05-31
1247 2023-06-01

[1248 rows x 1 columns]

In [14]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

QUERIED_TEXT = 'events'

queried_start_date = pd.to_datetime('2020-01-01')
queried_end_date = pd.to_datetime('2023-06-01')
queried_date_range = pd.date_range(start=queried_start_date, end=queried_end_date)
queried_date_range_df = pd.DataFrame({'date': queried_date_range})

# Set the base URL
base_url = 'https://donyc.com/{}/{}/{}/{}?page={}'

queried_date_range_df = pd.read_csv(f'donyc_{QUERIED_TEXT}.csv', parse_dates=['date'])

# Loop through each date in the date range
for i, row in queried_date_range_df.iterrows():

    date = row['date']

    # Check if the 'total_events' column is not NaN, if yes then break out of the loop
    if not pd.isna(row[f'total_{QUERIED_TEXT}']):
        print(f'{date} is already populated')
        continue

    # Format the URL with the year, month, day, and page number
    year = date.year
    month = date.month
    day = date.day
    page_num = 1
    url = base_url.format(QUERIED_TEXT, year, month, day, page_num)

    # Initialize the count to 0
    count = 0

    # Loop through each page of events for the current date
    while True:
        # Make a request to the current page
        response = requests.get(url)

        # Parse the HTML content using BeautifulSoup
        soup = BeautifulSoup(response.content, 'html.parser')

        # Find all div elements with a class attribute starting with 'ds-listing event-card'
        event_cards = soup.select('div[class^="ds-listing event-card"]')

        # If no event cards are found, break out of the loop
        if not event_cards:
            break

        # Loop through each event card that matches the specified classes
        for card in event_cards:
            # Find the anchor tag with an href attribute that starts with '/events/2023/3/1' and the specified classes
            anchor = card.find('a', href=lambda href: href and href.startswith('/{}/{}/{}/{}'.format(QUERIED_TEXT,year, month, day)), class_='ds-listing-event-title url summary')
            if anchor:
                count += 1

        # Increment the page number and update the URL
        print(page_num)
        page_num += 1
        url = base_url.format(QUERIED_TEXT, year, month, day, page_num)

    # Set the count for the current date in the 'total_events' column of the DataFrame
    queried_date_range_df.loc[i, f"total_{QUERIED_TEXT}"] = count
    queried_date_range_df.to_csv(f'donyc_{QUERIED_TEXT}.csv', index=False)
    print(queried_date_range_df.loc[i])

2020-01-01 00:00:00 is already populated
2020-01-02 00:00:00 is already populated
2020-01-03 00:00:00 is already populated
2020-01-04 00:00:00 is already populated
2020-01-05 00:00:00 is already populated
2020-01-06 00:00:00 is already populated
2020-01-07 00:00:00 is already populated
2020-01-08 00:00:00 is already populated
2020-01-09 00:00:00 is already populated
2020-01-10 00:00:00 is already populated
2020-01-11 00:00:00 is already populated
2020-01-12 00:00:00 is already populated
2020-01-13 00:00:00 is already populated
2020-01-14 00:00:00 is already populated
2020-01-15 00:00:00 is already populated
2020-01-16 00:00:00 is already populated
2020-01-17 00:00:00 is already populated
2020-01-18 00:00:00 is already populated
2020-01-19 00:00:00 is already populated
2020-01-20 00:00:00 is already populated
2020-01-21 00:00:00 is already populated
2020-01-22 00:00:00 is already populated
2020-01-23 00:00:00 is already populated
2020-01-24 00:00:00 is already populated
2020-01-25 00:00:00 is already populated
2020-01-26 00:00:00 is already populated
2020-01-27 00:00:00 is already populated
2020-01-28 00:00:00 is already populated
2020-01-29 00:00:00 is already populated
2020-01-30 00:00:00 is already populated
2020-01-31 00:00:00 is already populated
2020-02-01 00:00:00 is already populated
2020-02-02 00:00:00 is already populated
2020-02-03 00:00:00 is already populated
2020-02-04 00:00:00 is already populated
2020-02-05 00:00:00 is already populated
2020-02-06 00:00:00 is already populated
2020-02-07 00:00:00 is already populated
2020-02-08 00:00:00 is already populated
2020-02-09 00:00:00 is already populated
2020-02-10 00:00:00 is already populated
2020-02-11 00:00:00 is already populated
2020-02-12 00:00:00 is already populated
2020-02-13 00:00:00 is already populated
2020-02-14 00:00:00 is already populated
2020-02-15 00:00:00 is already populated
2020-02-16 00:00:00 is already populated
2020-02-17 00:00:00 is already populated
2020-02-18 00:00:00 is already populated
2020-02-19 00:00:00 is already populated
2020-02-20 00:00:00 is already populated
2020-02-21 00:00:00 is already populated
2020-02-22 00:00:00 is already populated
2020-02-23 00:00:00 is already populated
2020-02-24 00:00:00 is already populated
2020-02-25 00:00:00 is already populated
2020-02-26 00:00:00 is already populated
2020-02-27 00:00:00 is already populated
2020-02-28 00:00:00 is already populated
2020-02-29 00:00:00 is already populated
2020-03-01 00:00:00 is already populated
2020-03-02 00:00:00 is already populated
2020-03-03 00:00:00 is already populated
2020-03-04 00:00:00 is already populated
2020-03-05 00:00:00 is already populated
2020-03-06 00:00:00 is already populated
2020-03-07 00:00:00 is already populated
2020-03-08 00:00:00 is already populated
2020-03-09 00:00:00 is already populated
2020-03-10 00:00:00 is already populated
2020-03-11 00:00:00 is already populated
2020-03-12 00:00:00 is already populated
2020-03-13 00:00:00 is already populated
2020-03-14 00:00:00 is already populated
2020-03-15 00:00:00 is already populated
2020-03-16 00:00:00 is already populated
2020-03-17 00:00:00 is already populated
2020-03-18 00:00:00 is already populated
2020-03-19 00:00:00 is already populated
2020-03-20 00:00:00 is already populated
2020-03-21 00:00:00 is already populated
2020-03-22 00:00:00 is already populated
2020-03-23 00:00:00 is already populated
2020-03-24 00:00:00 is already populated
2020-03-25 00:00:00 is already populated
2020-03-26 00:00:00 is already populated
2020-03-27 00:00:00 is already populated
2020-03-28 00:00:00 is already populated
2020-03-29 00:00:00 is already populated
2020-03-30 00:00:00 is already populated
2020-03-31 00:00:00 is already populated
2020-04-01 00:00:00 is already populated
2020-04-02 00:00:00 is already populated
2020-04-03 00:00:00 is already populated
2020-04-04 00:00:00 is already populated
2020-04-05 00:00:00 is already populated
2020-04-06 00:00:00 is already populated
2020-04-07 00:00:00 is already populated
2020-04-08 00:00:00 is already populated
2020-04-09 00:00:00 is already populated
2020-04-10 00:00:00 is already populated
2020-04-11 00:00:00 is already populated
2020-04-12 00:00:00 is already populated
2020-04-13 00:00:00 is already populated
2020-04-14 00:00:00 is already populated
2020-04-15 00:00:00 is already populated
2020-04-16 00:00:00 is already populated
2020-04-17 00:00:00 is already populated
2020-04-18 00:00:00 is already populated
2020-04-19 00:00:00 is already populated
2020-04-20 00:00:00 is already populated
2020-04-21 00:00:00 is already populated
2020-04-22 00:00:00 is already populated
2020-04-23 00:00:00 is already populated
2020-04-24 00:00:00 is already populated
2020-04-25 00:00:00 is already populated
2020-04-26 00:00:00 is already populated
2020-04-27 00:00:00 is already populated
2020-04-28 00:00:00 is already populated
2020-04-29 00:00:00 is already populated
2020-04-30 00:00:00 is already populated
2020-05-01 00:00:00 is already populated
2020-05-02 00:00:00 is already populated
2020-05-03 00:00:00 is already populated
2020-05-04 00:00:00 is already populated
2020-05-05 00:00:00 is already populated
2020-05-06 00:00:00 is already populated
2020-05-07 00:00:00 is already populated
2020-05-08 00:00:00 is already populated
2020-05-09 00:00:00 is already populated
2020-05-10 00:00:00 is already populated
2020-05-11 00:00:00 is already populated
2020-05-12 00:00:00 is already populated
2020-05-13 00:00:00 is already populated
2020-05-14 00:00:00 is already populated
2020-05-15 00:00:00 is already populated
2020-05-16 00:00:00 is already populated
2020-05-17 00:00:00 is already populated
2020-05-18 00:00:00 is already populated
2020-05-19 00:00:00 is already populated
2020-05-20 00:00:00 is already populated
2020-05-21 00:00:00 is already populated
2020-05-22 00:00:00 is already populated
2020-05-23 00:00:00 is already populated
2020-05-24 00:00:00 is already populated
2020-05-25 00:00:00 is already populated
2020-05-26 00:00:00 is already populated
2020-05-27 00:00:00 is already populated
2020-05-28 00:00:00 is already populated
2020-05-29 00:00:00 is already populated
2020-05-30 00:00:00 is already populated
2020-05-31 00:00:00 is already populated
2020-06-01 00:00:00 is already populated
2020-06-02 00:00:00 is already populated
2020-06-03 00:00:00 is already populated
2020-06-04 00:00:00 is already populated
2020-06-05 00:00:00 is already populated
2020-06-06 00:00:00 is already populated
2020-06-07 00:00:00 is already populated
2020-06-08 00:00:00 is already populated
2020-06-09 00:00:00 is already populated
2020-06-10 00:00:00 is already populated
2020-06-11 00:00:00 is already populated
2020-06-12 00:00:00 is already populated
2020-06-13 00:00:00 is already populated
2020-06-14 00:00:00 is already populated
2020-06-15 00:00:00 is already populated
2020-06-16 00:00:00 is already populated
2020-06-17 00:00:00 is already populated
2020-06-18 00:00:00 is already populated
2020-06-19 00:00:00 is already populated
2020-06-20 00:00:00 is already populated
2020-06-21 00:00:00 is already populated
2020-06-22 00:00:00 is already populated
2020-06-23 00:00:00 is already populated
2020-06-24 00:00:00 is already populated
2020-06-25 00:00:00 is already populated
2020-06-26 00:00:00 is already populated
2020-06-27 00:00:00 is already populated
2020-06-28 00:00:00 is already populated
2020-06-29 00:00:00 is already populated
2020-06-30 00:00:00 is already populated
2020-07-01 00:00:00 is already populated
2020-07-02 00:00:00 is already populated
2020-07-03 00:00:00 is already populated
2020-07-04 00:00:00 is already populated
2020-07-05 00:00:00 is already populated
2020-07-06 00:00:00 is already populated
2020-07-07 00:00:00 is already populated
2020-07-08 00:00:00 is already populated
2020-07-09 00:00:00 is already populated
2020-07-10 00:00:00 is already populated
2020-07-11 00:00:00 is already populated
2020-07-12 00:00:00 is already populated
2020-07-13 00:00:00 is already populated
2020-07-14 00:00:00 is already populated
2020-07-15 00:00:00 is already populated
2020-07-16 00:00:00 is already populated
2020-07-17 00:00:00 is already populated
2020-07-18 00:00:00 is already populated
2020-07-19 00:00:00 is already populated
2020-07-20 00:00:00 is already populated
2020-07-21 00:00:00 is already populated
2020-07-22 00:00:00 is already populated
2020-07-23 00:00:00 is already populated
2020-07-24 00:00:00 is already populated
2020-07-25 00:00:00 is already populated
2020-07-26 00:00:00 is already populated
2020-07-27 00:00:00 is already populated
2020-07-28 00:00:00 is already populated
2020-07-29 00:00:00 is already populated
2020-07-30 00:00:00 is already populated
2020-07-31 00:00:00 is already populated
2020-08-01 00:00:00 is already populated
2020-08-02 00:00:00 is already populated
2020-08-03 00:00:00 is already populated
2020-08-04 00:00:00 is already populated
2020-08-05 00:00:00 is already populated
2020-08-06 00:00:00 is already populated
2020-08-07 00:00:00 is already populated
2020-08-08 00:00:00 is already populated
2020-08-09 00:00:00 is already populated
2020-08-10 00:00:00 is already populated
2020-08-11 00:00:00 is already populated
2020-08-12 00:00:00 is already populated
2020-08-13 00:00:00 is already populated
2020-08-14 00:00:00 is already populated
2020-08-15 00:00:00 is already populated
2020-08-16 00:00:00 is already populated
2020-08-17 00:00:00 is already populated
2020-08-18 00:00:00 is already populated
2020-08-19 00:00:00 is already populated
2020-08-20 00:00:00 is already populated
2020-08-21 00:00:00 is already populated
2020-08-22 00:00:00 is already populated
2020-08-23 00:00:00 is already populated
2020-08-24 00:00:00 is already populated
2020-08-25 00:00:00 is already populated
2020-08-26 00:00:00 is already populated
2020-08-27 00:00:00 is already populated
2020-08-28 00:00:00 is already populated
2020-08-29 00:00:00 is already populated
2020-08-30 00:00:00 is already populated
2020-08-31 00:00:00 is already populated
2020-09-01 00:00:00 is already populated
2020-09-02 00:00:00 is already populated
2020-09-03 00:00:00 is already populated
2020-09-04 00:00:00 is already populated
2020-09-05 00:00:00 is already populated
2020-09-06 00:00:00 is already populated
2020-09-07 00:00:00 is already populated
2020-09-08 00:00:00 is already populated
2020-09-09 00:00:00 is already populated
2020-09-10 00:00:00 is already populated
2020-09-11 00:00:00 is already populated
2020-09-12 00:00:00 is already populated
2020-09-13 00:00:00 is already populated
2020-09-14 00:00:00 is already populated
2020-09-15 00:00:00 is already populated
2020-09-16 00:00:00 is already populated
2020-09-17 00:00:00 is already populated
2020-09-18 00:00:00 is already populated
2020-09-19 00:00:00 is already populated
2020-09-20 00:00:00 is already populated
2020-09-21 00:00:00 is already populated
2020-09-22 00:00:00 is already populated
2020-09-23 00:00:00 is already populated
2020-09-24 00:00:00 is already populated
2020-09-25 00:00:00 is already populated
2020-09-26 00:00:00 is already populated
2020-09-27 00:00:00 is already populated
2020-09-28 00:00:00 is already populated
2020-09-29 00:00:00 is already populated
2020-09-30 00:00:00 is already populated
2020-10-01 00:00:00 is already populated
2020-10-02 00:00:00 is already populated
2020-10-03 00:00:00 is already populated
2020-10-04 00:00:00 is already populated
2020-10-05 00:00:00 is already populated
2020-10-06 00:00:00 is already populated
2020-10-07 00:00:00 is already populated
2020-10-08 00:00:00 is already populated
2020-10-09 00:00:00 is already populated
2020-10-10 00:00:00 is already populated
2020-10-11 00:00:00 is already populated
2020-10-12 00:00:00 is already populated
2020-10-13 00:00:00 is already populated
2020-10-14 00:00:00 is already populated
2020-10-15 00:00:00 is already populated
2020-10-16 00:00:00 is already populated
2020-10-17 00:00:00 is already populated
2020-10-18 00:00:00 is already populated
2020-10-19 00:00:00 is already populated
2020-10-20 00:00:00 is already populated
2020-10-21 00:00:00 is already populated
2020-10-22 00:00:00 is already populated
2020-10-23 00:00:00 is already populated
2020-10-24 00:00:00 is already populated
2020-10-25 00:00:00 is already populated
2020-10-26 00:00:00 is already populated
2020-10-27 00:00:00 is already populated
2020-10-28 00:00:00 is already populated
2020-10-29 00:00:00 is already populated
2020-10-30 00:00:00 is already populated
2020-10-31 00:00:00 is already populated
2020-11-01 00:00:00 is already populated
2020-11-02 00:00:00 is already populated
2020-11-03 00:00:00 is already populated
2020-11-04 00:00:00 is already populated
2020-11-05 00:00:00 is already populated
2020-11-06 00:00:00 is already populated
2020-11-07 00:00:00 is already populated
2020-11-08 00:00:00 is already populated
2020-11-09 00:00:00 is already populated
2020-11-10 00:00:00 is already populated
2020-11-11 00:00:00 is already populated
2020-11-12 00:00:00 is already populated
2020-11-13 00:00:00 is already populated
2020-11-14 00:00:00 is already populated
2020-11-15 00:00:00 is already populated
2020-11-16 00:00:00 is already populated
2020-11-17 00:00:00 is already populated
2020-11-18 00:00:00 is already populated
2020-11-19 00:00:00 is already populated
2020-11-20 00:00:00 is already populated
2020-11-21 00:00:00 is already populated
2020-11-22 00:00:00 is already populated
2020-11-23 00:00:00 is already populated
2020-11-24 00:00:00 is already populated
2020-11-25 00:00:00 is already populated
2020-11-26 00:00:00 is already populated
2020-11-27 00:00:00 is already populated
2020-11-28 00:00:00 is already populated
2020-11-29 00:00:00 is already populated
2020-11-30 00:00:00 is already populated
2020-12-01 00:00:00 is already populated
2020-12-02 00:00:00 is already populated
2020-12-03 00:00:00 is already populated
2020-12-04 00:00:00 is already populated
2020-12-05 00:00:00 is already populated
2020-12-06 00:00:00 is already populated
2020-12-07 00:00:00 is already populated
2020-12-08 00:00:00 is already populated
2020-12-09 00:00:00 is already populated
1
2
3
date            2020-12-10 00:00:00
total_events                   51.0
Name: 344, dtype: object
1
2
date            2020-12-11 00:00:00
total_events                   27.0
Name: 345, dtype: object
1
2
date            2020-12-12 00:00:00
total_events                   31.0
Name: 346, dtype: object
1
2
date            2020-12-13 00:00:00
total_events                   28.0
Name: 347, dtype: object
1
2
3
date            2020-12-14 00:00:00
total_events                   46.0
Name: 348, dtype: object
1
2
3
date            2020-12-15 00:00:00
total_events                   63.0
Name: 349, dtype: object
1
2
date            2020-12-16 00:00:00
total_events                   26.0
Name: 350, dtype: object
1
2
date            2020-12-17 00:00:00
total_events                   24.0
Name: 351, dtype: object
1
2
date            2020-12-18 00:00:00
total_events                   25.0
Name: 352, dtype: object
1
2
date            2020-12-19 00:00:00
total_events                   32.0
Name: 353, dtype: object
1
date            2020-12-20 00:00:00
total_events                   13.0
Name: 354, dtype: object
1
2
date            2020-12-21 00:00:00
total_events                   32.0
Name: 355, dtype: object
1
2
date            2020-12-22 00:00:00
total_events                   36.0
Name: 356, dtype: object
1
2
date            2020-12-23 00:00:00
total_events                   32.0
Name: 357, dtype: object
1
date            2020-12-24 00:00:00
total_events                   10.0
Name: 358, dtype: object
1
date            2020-12-25 00:00:00
total_events                    8.0
Name: 359, dtype: object
1
date            2020-12-26 00:00:00
total_events                   11.0
Name: 360, dtype: object
1
date            2020-12-27 00:00:00
total_events                    9.0
Name: 361, dtype: object
1
2
date            2020-12-28 00:00:00
total_events                   19.0
Name: 362, dtype: object
1
2
date            2020-12-29 00:00:00
total_events                   27.0
Name: 363, dtype: object
1
2
date            2020-12-30 00:00:00
total_events                   29.0
Name: 364, dtype: object
1
2
3
4
date            2020-12-31 00:00:00
total_events                   77.0
Name: 365, dtype: object
1
2
date            2021-01-01 00:00:00
total_events                   24.0
Name: 366, dtype: object
1
date            2021-01-02 00:00:00
total_events                    3.0
Name: 367, dtype: object
1
date            2021-01-03 00:00:00
total_events                    2.0
Name: 368, dtype: object
1
date            2021-01-04 00:00:00
total_events                   15.0
Name: 369, dtype: object
1
2
date            2021-01-05 00:00:00
total_events                   24.0
Name: 370, dtype: object
1
2
date            2021-01-06 00:00:00
total_events                   35.0
Name: 371, dtype: object
1
date            2021-01-07 00:00:00
total_events                   15.0
Name: 372, dtype: object
1
date            2021-01-08 00:00:00
total_events                   16.0
Name: 373, dtype: object
1
date            2021-01-09 00:00:00
total_events                   12.0
Name: 374, dtype: object
1
date            2021-01-10 00:00:00
total_events                    6.0
Name: 375, dtype: object
1
date            2021-01-11 00:00:00
total_events                   12.0
Name: 376, dtype: object
1
date            2021-01-12 00:00:00
total_events                   14.0
Name: 377, dtype: object
1
2
date            2021-01-13 00:00:00
total_events                   29.0
Name: 378, dtype: object
1
date            2021-01-14 00:00:00
total_events                   18.0
Name: 379, dtype: object
1
date            2021-01-15 00:00:00
total_events                   13.0
Name: 380, dtype: object
1
date            2021-01-16 00:00:00
total_events                   16.0
Name: 381, dtype: object
1
date            2021-01-17 00:00:00
total_events                   13.0
Name: 382, dtype: object
1
date            2021-01-18 00:00:00
total_events                   14.0
Name: 383, dtype: object
1
date            2021-01-19 00:00:00
total_events                   17.0
Name: 384, dtype: object
1
date            2021-01-20 00:00:00
total_events                   18.0
Name: 385, dtype: object
1
date            2021-01-21 00:00:00
total_events                   16.0
Name: 386, dtype: object
1
date            2021-01-22 00:00:00
total_events                   17.0
Name: 387, dtype: object
1
date            2021-01-23 00:00:00
total_events                   14.0
Name: 388, dtype: object
1
date            2021-01-24 00:00:00
total_events                   11.0
Name: 389, dtype: object
1
date            2021-01-25 00:00:00
total_events                   11.0
Name: 390, dtype: object
1
2
date            2021-01-26 00:00:00
total_events                   25.0
Name: 391, dtype: object
1
2
date            2021-01-27 00:00:00
total_events                   32.0
Name: 392, dtype: object
1
2
date            2021-01-28 00:00:00
total_events                   25.0
Name: 393, dtype: object
1
2
date            2021-01-29 00:00:00
total_events                   23.0
Name: 394, dtype: object
1
2
date            2021-01-30 00:00:00
total_events                   20.0
Name: 395, dtype: object
1
date            2021-01-31 00:00:00
total_events                   13.0
Name: 396, dtype: object
1
date            2021-02-01 00:00:00
total_events                   10.0
Name: 397, dtype: object
1
date            2021-02-02 00:00:00
total_events                   12.0
Name: 398, dtype: object
1
2
date            2021-02-03 00:00:00
total_events                   20.0
Name: 399, dtype: object
1
date            2021-02-04 00:00:00
total_events                   16.0
Name: 400, dtype: object
1
date            2021-02-05 00:00:00
total_events                   17.0
Name: 401, dtype: object
1
date            2021-02-06 00:00:00
total_events                   13.0