In [20]:
import os
import pandas as pd

# Find all files starting with 'donyc_....csv' in current directory
files = [file for file in os.listdir('.') if file.startswith('donyc_') and file.endswith('.csv')]

# Retrieve the first file as donyc_df
donyc_df = pd.read_csv(files[0])
print(files)
for i in range(1, len(files)-1):
    #TODO Loop through remaining files and add 2nd column to donyc_df
    if i > 1:
        print(i)
        df = pd.read_csv(files[i])
        print(df.columns[1])
        donyc_df[df.columns[1]] = df.iloc[:, 1]

donyc_df.to_csv('total_donyc_events.csv', index=False)

['donyc_barclays-center.csv', 'donyc_blue-note-jazz-club.csv', 'donyc_carnegie-hall.csv', 'donyc_comedy.csv', 'donyc_events.csv', 'donyc_film-screenings.csv', 'donyc_forest-hills-stadium.csv', 'donyc_kings-theatre.csv', 'donyc_madison-square-garden.csv', 'donyc_mercury-lounge.csv', 'donyc_metlife-stadium.csv', 'donyc_music.csv', 'donyc_palladium-times-square.csv', 'donyc_radio-city-music-hall.csv', 'donyc_terminal-5.csv', 'donyc_the-bowery-ballroom.csv', 'donyc_yankee-stadium.csv']
2
carnegie-hall_event_occurred
3
total_comedy
4
total_events
5
total_film-screenings
6
forest-hills-stadium_event_occurred
7
kings-theatre_event_occurred
8
madison-square-garden_event_occurred
9
mercury-lounge_event_occurred
10
metlife-stadium_event_occurred
11
total_music
12
palladium-times-square_event_occurred
13
radio-city-music-hall_event_occurred
14
terminal-5_event_occurred
15
the-bowery-ballroom_event_occurred

In [22]:
weather_df = pd.read_csv('weather_final.csv')
weather_df

                          Date  Ave. Temp  Precipitation
0     2023-03-0818:00:00-05:00       32.0            NaN
1     2023-03-0806:00:00-05:00       45.0            NaN
2     2023-03-0718:00:00-05:00       33.0            NaN
3     2023-03-0706:00:00-05:00       50.0          30.00
4     2023-03-0618:00:00-05:00       39.0          30.00
...                        ...        ...            ...
1103                    3/2/20       49.0           0.00
1104                    3/1/20       34.5           0.00
1105                   10/1/21       59.0           0.00
1106                    4/1/21       48.0           0.03
1107                    7/1/20       73.5           0.03

[1108 rows x 3 columns]